
.header{
    width: 100%;
    height: 5rem;
    color: azure;
    z-index: 99999998;
}
.header-row-mobile{
    display: none;
}
a:link { 
    text-decoration: none; 
    margin-top: auto;
    margin-bottom: auto;
}


.search-icon{
    height: 2rem;
    width: 2rem;
    color: #002963;
    margin-left: -3rem;
}
.header-row{
    display: grid;
    width: 100%;
    height: 5rem;
    grid-template-columns: 11rem auto 5rem 5rem;
    align-items: center;
    align-content: center;
    position: fixed;
    background-color: rgb(11, 21, 51);
    z-index: 99999998;
}
.top-nav-bar{
    background-color: #002963;
    position: fixed;
    width: 100%;
    height: 2rem;
    padding-left: 10px;
    vertical-align: middle;
    /* gap:30px; */
    color:#ffffff;
    display: flex;
    flex-direction: row;
    gap:1rem;
    text-decoration: none;
    z-index: 9999998;
}
.toggle-menu{
    width: 50px;
    
}
.nav-bar-toggle{
    padding: 0.2rem;
    font-size: 1.5rem;
    display: none;;
}
.top-nav-bar a{
    color:#ffffff;
}
.top-nav-bar > .a{
    display: flex;
    color: #ffffff;
    transition: all 300ms ease-in;
    align-items: center;
    height:2rem;
    position: relative;
    border-radius: 2rem;
    margin-left: 1rem;
}
.header-row  > .logo{
    font-size: 1.5rem;
    margin-top: 3%;
    margin-left: 1rem;
    align-items: center;
    align-content: center;
    font-family: monospace;
    text-decoration: none;
    color:white;
}
.logo a{
    color:white;
}
.header-row  > .search{
    display: flex;
    text-align: center;
    width: 95%;
    height: 90%;
    align-items: center;
    align-content: center;
}
.header-row  > .search > input{
    width: 100%;
    height: 80%;
    /* margin-top: 1%; */
    border-radius: 0.5rem;
    font-size: large;
    padding: 0.25rem;
    align-items: center;
    align-content: center;
}

.header-row  > .cart,.account-info{
    font-size: 2rem;
}

.footer{
    height: 20rem;
    background-color: rgb(11, 21, 51);
}


.content{
    height: fit-content;
    background-color: rgb(215, 208, 208);
    padding: 1rem;
}

  /* .higlighted-products-1::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .higlighted-products-1::-webkit-scrollbar-thumb {
    background: #002963; 
    border-radius: 10px;
    display: none;
  } */
  /* .higlighted-products-2::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .higlighted-products-2::-webkit-scrollbar-thumb {
    background: #002963; 
    border-radius: 10px;
    display: none;
  } */
.slider{
    background: linear-gradient(#eecece, #d0d4fe);
    height: 30rem;
}
.higlighted-products-1{
    margin-top: -10rem;
    position: relative;
    padding: auto;
    display: grid;
    grid-template-columns:  25% 25% 25% 25%;
    grid-column-gap: 2px;
    /* margin: auto; */
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
    align-content: center;
    overflow: hidden;
}
.product-card-img{
    border-radius: 25px;

}
.higlighted-products-1 > .product{
    height:42vh;
    margin: auto;
    width: 98%;
    box-shadow: 1px 1px #000000;
    border-radius: 25px;
    /* transition: all .1s ease-out; */
    background-color: rgb(253, 253, 253);
    cursor: pointer;
}

.breaker-card{
    /* margin-right: 1rem; */
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    height:10rem;
    box-shadow: #000000;  
    background-color:#ffffff;
}

.higlighted-products-2{
    position: relative;
    padding:auto;
    display: grid;
    grid-template-columns:  25% 25%  25%  25% ;
    grid-column-gap: 2px;

    max-width: 100%;
   

    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
    align-content: center;
    overflow: hidden;
}
.higlighted-products-2 > .product{
    height:45vh;
    margin: auto;
    width: 98%;
    margin-top: 1rem;

    box-shadow: 1px 1px #000000;
    border-radius: 1rem;

    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.body-sign-in{
    margin: 1rem;
    border-radius: 1rem;
    
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:5rem;
    box-shadow: #000000;  
    background-color:#ffffff;
}
.left-arrow{
    position: absolute;
    top:30%;
    transform: translate(0, -50);
    left:25px;
    font-size: 35px;
    color: #ffffff;
}
.right-arrow{
    position: absolute;
    top:30%;
    transform: translate(0, -50);
    right:25px;
    font-size: 35px;
    color: #ffffff;
}
.slidHolder{
    transition: background-image 3s;
}

/**Product images **/

.product-card-img{
    width:100%;
    height:80%
}
.banner-img{
    width:100%;
    height: 100%;;
}
.my-account{
    z-index: 99999998;
    background-color: red;
    width: 120px;
    height: fit-content;
    position:fixed ;
    border-radius: 5px;
    top:55px;
    right:0;
}
.my-cart-list{
    z-index: 99999998;
    background-color: rgb(0, 255, 200);
    width: 120px;
    height: 200px;
    position:fixed ;
    border-radius: 5px;
    top:55px;
    right:70px;
}
.my-cart{
    z-index: 99999998;
    background-color: green;
    width: 120px;
    height: 200px;
    position:fixed ;
    border-radius: 5px;
    top:55px;
    right:80px;
    display: none;
}
.toggle-menu:hover  .my-account{
    display: none;
}

.register{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.sso{
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
}
.sso > button{
    border-radius: 20px;
    height:3rem;
    width:fit-content;
    font-size: 15px;
    padding: auto;
    cursor: pointer;
}
.sso .sso-icon-fb{
    font-size: 30px;
    color:rgb(26, 26, 155);
    vertical-align: middle;

}
.sso .sso-icon-google{
    font-size: 30px;
    vertical-align: middle;

}
.register >input{
    width:70%;
    margin-top: 8px;
    height: 30px;

}
.register .signup{
    border-radius: 20px;
    height:3rem;
    width:30%;
    font-size: 20px;
    padding: auto;
    background-color: #002963;
    color:white;
    cursor: pointer;
}
.product-page{
    margin-top :1rem;
    display: grid;
    gap: 8px;
    grid-template-columns: 12rem auto;
}
.product-left-menu{
    border-radius: 15px;
    height: 100%;
    padding: auto;
    background-color: white;
    
}
.product-content{
    width: 100%;
    height: 100%;
    background-color:  rgb(232, 232, 232);;
    padding: auto;
}
.search-result{
    border-radius: 20px;
    padding: auto;
    margin-left: 10px;
}
.product-content-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 3px;
}
.product-content-item{
    background-color: white;
    border-radius: 15px;
    width: 100%;
    margin-top:5px;
    height: 30vh;
    cursor: pointer;
}
.product-content-item .product-tag{
margin-top: 150px;
padding: 2px;

}
.star-rating{
    color: orange;
    font-size: 15px;
}